body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #fff5fa;
    color: #444;
}

header {
    background: #ff8fc7;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin-bottom: 10px;
}

.categoria {
    padding: 40px 20px;
    text-align: center;
}

.categoria h2 {
    color: #c2185b;
    margin-bottom: 30px;
}

.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.card h3 {
    color: #d81b60;
}

.card span {
    display: block;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

.card a {
    display: inline-block;
    background: #ff5fa2;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
}

footer {
    background: #ffe0ef;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.logo {
    max-width: 280px;
    margin-bottom: 15px;
}
